body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: #f9f9f9;
      color: #333;
    }

    header {
      background: #4CAF50;
      color: white;
      text-align: center;
      padding: 20px;
    }

    nav {
      background: #333;
      text-align: center;
      padding: 10px;
    }
    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    nav li {
      display: inline;
      margin: 0 15px;
    }
    nav a {
      color: white;
      text-decoration: none;
    }
    nav a:hover {
      color: #4CAF50;
    }

    section {
      padding: 20px;
      max-width: 900px;
      margin: auto;
    }
    section h2 {
      color: #4CAF50;
    }

    /* Gallery */
    .gallery {
      text-align: center;
    }
    .gallery img {
      width: 200px;
      height: 150px;
      margin: 10px;
      border-radius: 8px;
    }

    /* Table */
    table {
      width: 100%;
      border-spacing: 10px;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 15px;
      text-align: center;
    }
    th {
      background: #4CAF50;
      color: white;
    }

  
    ul.custom-list {
      list-style-type: square; 
    }
    ol.custom-ol {
      list-style-type: upper-roman;
    }

    /* Div, Span */
    .highlight {
      color: #276129;
      font-weight: bold;
    }
    #special-note {
      background-color: #ffeeba;
      padding: 10px;
      border-radius: 8px;
    }